<div *ngIf="ticket" class="container-fluid" [class.content]="!isModal" [class.pt-2]="isModal">
  <ngb-alert *ngIf="alertMsg" type="success" (close)="alertMsg = null"><i class="fa fa-check" aria-hidden="true"></i> {{alertMsg}}</ngb-alert>
  <button (click)="activeModal.close()" *ngIf="isModal" class=" col-3 btn btn-lg btn-primary"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
  <div class="mt-2 mb-3">
    <form class="form-inline">
      <button class="mr-2 btn btn-outline-primary mb-1" (click)="openMoveTableModal(ticket.tableNr)" *ngIf="ticket.tableNr">Tafel: {{ticket.tableNr}}</button>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Naam</div>
        <input #nameInput type="text" class="form-control" id="inlineFormInputGroup" placeholder="Klant naam"
          name="klantNameInput" [ngModel]="ticket.name"
          (blur)="updateTicketName(nameInput.value)"
          (keyup.enter)="updateTicketName(nameInput.value)">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Personen</div>
        <input #personsInput type="text" class="form-control" type="number"
          name="PersonsInput" [ngModel]="ticket.persons"
          (blur)="updateTicketPersons(personsInput.value)"
          (keyup.enter)="updateTicketPersons(personsInput.value)">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <span class="input-group-addon">Tijd</span>
        <button class="btn btn-secondary btn-block col-md-12 col-sm-10" (click)="openTimeLine()">{{ticket.time}}</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="mb-2">
    <app-item-search name="searchitem" (onItemSelected)="addItemToTicket($event, searchitem)"></app-item-search>
  </div>
  <div class="table-responsive">
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-default">
    <tr>
      <th>Nr</th>
      <th>#</th>
      <th></th>
      <th>Beschrijving</th>
      <th>Opmerking</th>
      <th>Prijs</th>
      <th class="text-right">Totale Prijs</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticketItem of ticket.items | itemSort">
      <th>{{ticketItem.item.quicklink}}</th>
      <td>{{ticketItem.count}}</td>
      <td>
        <button (click)="addItemToTicket(ticketItem.item.quicklink)" class="btn btn-sm btn-primary">+</button>
        <button (click)="removeItemFromTicket(ticketItem.item.quicklink)" class="btn btn-sm btn-danger">-</button>
      </td>
      <td (click)="openRemark(ticketItem)" [ngClass]="{'Drink':'list-group-item-success',
                      'Soup':'list-group-item-primary',
                      'Entree':'list-group-item-primary',
                      'MainDishe':'list-group-item-info',
                      'Nasi':'list-group-item-info',
                      'Bami':'list-group-item-info',
                      'Menu':'list-group-item-info',
                      'Supplement':'list-group-item-info',
                      'Dessert':'list-group-item-warning'}[ticketItem.item.itemType]">
        {{ticketItem.item.name}}
      </td>
      <td>
        <span *ngFor="let extra of ticketItem.extras" class="badge badge-success">{{extra.name}}</span>
        {{ticketItem.remark}}
      </td>
      <td> {{ticketItem.item.price}}</td>
      <td class="text-right"> {{ticketItem.totalPrice}}</td>
    </tr>
    </tbody>
  </table>
    <div class="d-flex flex-row-reverse">
      <div class="col-md-4 col-sm-6 pr-0">
        <div class="d-flex flex-row-reverse">
          <ul class="list-group col-6">
            <li class="list-group-item list-group-item-success text-right">€ {{ticketSummary.totalPriceWithTax.toFixed(2)}}</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">Totaal: </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div [ngSwitch]="ticket.payMethod">
          <div *ngSwitchCase="'None'" class="full-height">
            <button (click)="openPayment()" class="mt-auto btn btn-lg btn-primary btn-block full-height">Betalen</button>
          </div>
          <div *ngSwitchCase="'Card'" class="full-height">

          </div>
          <div *ngSwitchCase="'Cash'" class="full-height">

          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="ticket == null">
  test
</div>
 -->