<div *ngIf="ticket != null" class="container-fluid content">
  <form class="form-inline">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Naam</div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
    </div>
  </form>
  <div class="mb-2">
    <app-item-search (onItemSelected)="addItemToTicket($event)" ></app-item-search>
  </div>
  <div class="table-responsive">
  <table class="table table-sm table-bordered table-hover">
    <thead class="thead-default">
    <tr>
      <th>Nummer</th>
      <th>Aantal</th>
      <th></th>
      <th>Beschrijving</th>
      <th>Prijs</th>
      <th class="text-right">Total Prijs</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticketItem of ticket.items | itemSort">
      <th>{{ticketItem.item.quicklink}}</th>
      <td>{{ticketItem.count}}</td>
      <td>
        <button (click)="addItemToTicket(ticketItem.item.quicklink)" class="btn btn-sm btn-primary">+</button>
        <button (click)="removeItemFromTicket(ticketItem.item.quicklink)" class="btn btn-sm btn-danger">-</button>
      </td>
      <td [ngClass]="{'Drink':'list-group-item-success',
                      'Soup':'list-group-item-primary',
                      'Entree':'list-group-item-primary',
                      'MainDishe':'list-group-item-info',
                      'Nasi':'list-group-item-info',
                      'Bami':'list-group-item-info',
                      'Menu':'list-group-item-info',
                      'Supplement':'list-group-item-info',
                      'Dessert':'list-group-item-warning'}[ticketItem.item.itemType]">
        {{ticketItem.item.name}}
      </td>
      <td>€ {{ticketItem.item.price}}</td>
      <td class="text-right">€ {{ticketItem.totalPrice}}</td>
    </tr>
    </tbody>
  </table>
    <div class="d-flex flex-row-reverse">
      <div class="col-3 col-sm-5">
        <div class="d-flex flex-row">
          <ul class="list-group w-50">
            <li class="list-group-item">Subtotal: </li>
            <li class="list-group-item">Btw 12%: </li>
            <li class="list-group-item">Btw 21%: </li>
            <li class="list-group-item list-group-item-success">Total: € </li>
          </ul>
          <ul class="list-group w-50">
            <li class="list-group-item text-right">€ {{ticketSummary.totalPriceWithoutTax.toFixed(2)}}</li>
            <li class="list-group-item text-right">€ {{ticketSummary.totalTaxFood.toFixed(2)}}</li>
            <li class="list-group-item text-right">€ {{ticketSummary.totalTaxDrink.toFixed(2)}}</li>
            <li class="list-group-item list-group-item-success text-right">€ {{ticketSummary.totalPriceWithTax.toFixed(2)}}</li>
          </ul>
        </div>
      </div>
        <div class="w-25">
          <div [ngSwitch]="ticket.payMethod" class="half-height">
            <div *ngSwitchCase="'None'" class="full-height">
              <button (click)="openPayment()" class="mt-auto btn btn-lg btn-primary btn-block full-height">Betalen</button>
            </div>
            <div *ngSwitchCase="'Card'" class="full-height">

            </div>
            <div *ngSwitchCase="'Cash'" class="full-height">

            </div>
            <div></div>
          </div>
        </div>
    </div>
  </div>
</div>
<div *ngIf="ticket == null">
  test
</div>
