<div *ngIf="ticket" class="container-fluid" [class.content]="!isModal" [class.pt-2]="isModal">
  <div class="modal-header">
    <h4 class="modal-title">Afdrukken</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>Tafel {{ticket.tableNr}}</div>    
    <div *ngIf="ticket.persons == 1;else plural">{{ticket.persons}} persoon</div>
    <ng-template #plural>{{ticket.persons}} personen</ng-template>    
    <br/>
    <div *ngFor="let ticketItem of ticket.items | itemSort">
      <div>{{ticketItem.count}}x {{ticketItem.item.name}}</div>
      <div>&nbsp;&nbsp;&nbsp;€ {{ticketItem.totalPrice.toFixed(2)}}</div>
    </div>
    <br/>
    <div>Totaal: € {{ticket.totalPriceWithTax.toFixed(2)}}</div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Sluiten</button> -->
    <button (click)="activeModal.close()" *ngIf="isModal" class="btn btn-outline-dark">Sluiten</button>
  </div>
</div>