<div *ngIf="ticket" class="container-fluid" [class.content]="!isModal" [class.pt-2]="isModal">
  <div class="modal-header">
    <h4 class="modal-title">Afdrukken</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea name="ticketContent" class="form-control" cols="15" rows="{{ticketSummaryRows}}" [(ngModel)]="ticketSummary" #ticketContent></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" [ngxClipboard]="ticketContent"><i class="fa fa-copy"></i> Copy</button>
    <button (click)="activeModal.close()" *ngIf="isModal" class="btn btn-outline-dark">Sluiten</button>
  </div>
</div>