.takeawayContent {
  margin-top: 125px;
}

.nieuweTakeAwayTicketBtn {
  margin-top: 54px;
}

body, html, .container-fluid {
  height: 100% !important;
}

.wrapper {
  min-height: 100vh;
  max-height: 100%;
}

aside {
  overflow-y: auto;
  max-height: 100%;
}

main {
  max-height: 75%;
  overflow-y: auto;
}

.centerItems {
  align-items: center;
}


