<div class="container-fluid takeawayContent">
  <div>
    <button (click)="createTicket()" class="btn btn-lg btn-primary btn-block fixed-top nieuweTakeAwayTicketBtn">Nieuw ticket</button>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let ticket of tickets | takeawayTicketSortByTime">
      <div class="card table-card">
        <div class="card-header">
          <div class="card-title">Ticket: {{ticket.ticketIdentifier}}</div>
        </div>
        <div class="card-block">
          <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input [ngModel]="names[ticket.ticketNr]" type="text" class="form-control"/>
          </div>
            <ngb-timepicker [(ngModel)]="times[ticket.ticketNr]"
            [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
          <button class="m-t-1 btn btn-sm btn-outline-primary" (click)="updateTicketInfo(ticket.ticketNr)">
            Aanpassen
          </button>
        </div>
        <div class="card-footer">
          <div *ngIf="ticket.payMethod !== 'None'">
            Betaald
          </div>
          <a [routerLink]="['/ticket', ticket.ticketNr]" class="btn btn-success btn-block linkBtn" style="color: white">open ticket</a>
        </div>
      </div>
    </div>
  </div>
</div>
